*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 240, 245);
}

#drop{
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;

}
#img-here{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb;
    background: #acf1f6;
    background-position: center;
    background-size: cover;
}
#img-here img{
    width: 100px;
    margin-top: 25px;
}